@model IEnumerable<AnimalInventory.Core.Data.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.permission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.permission)
    </td>
    <td>
        <button id="btnPermission" class="btn btn-primary" data-id="@item.Id">Change Permission</button>
    </td>
</tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        function ChangePermission(userId) {
                $.ajax({
                    async: false,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: RootUrl + 'Request/AllowAccess?userId=' + userId,
                    success: function (response) {
                        alert(response);
                    }
                })
           
        }

        $(document).ready(function () {

            $("body #btnPermission").click(function (e) {
                if (confirm("Do you want to change the permission")) {
                    var userId = $(this).attr("data-id");
                    ChangePermission(userId);
                    location.reload();
                }
            })


        })

    </script>
}

